:root {
  --header-height: 80px;
  --background-rgb: 255, 255, 255;
  --border-radius: 0.75rem;
  --border-width: 1px;
  --border-rgb: 238, 238, 238;
  --cell-size: 80px;
  --heading-rgb: 34, 34, 34;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth !important;
}


@media (prefers-color-scheme: dark) {
  
}