:root {
  --border-radius: 1rem;
  --border-width: 2px;
  --border-rgb: 238, 238, 238;
  --cell-size: 80px
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth !important;
}


@media (prefers-color-scheme: dark) {
  
}