/* text */

.header_link, .hero_heading, .grid_heading, .footer_heading, .subheading {
  color: rgb(var(--heading-rgb));
  font-weight: 700;
}

.subheading {
  font-size: 5vw;
  margin-bottom: 0.75rem;
}

.hero_heading, .footer_heading {
  width: 100%;
  font-size: 10.75vw;
}

.paragraph {
  color: rgb(57, 57, 57);
}

.highlight {
  color: rgb(131, 245, 65);
}


/* header */

.header_container {
  background-color: rgb(var(--background-rgb));
  border-bottom: solid;
  border-color: rgb(var(--border-rgb));
  border-width: var(--border-width);
  display: flex;
  height: var(--header-height);
  justify-content: center;
  padding: 0 1.5rem;
  width: 100%;
}

.link_container {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  height: var(--header-height);
  justify-content: right;
  max-width: 896px;
  width: 100%;
}

.header_link {
  font-size: 1rem;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hero & footer */

.hero_container, .footer_container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 160px);
  max-height: 820px;
  text-align: center;
  width: 100%;
}

.hero_container {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #FFFF 100%) 0 0 / 100% 100%,
    conic-gradient(from 90deg at 1px 1px, #8880 90deg, rgb(238, 238, 238) 0) center -1px / var(--cell-size) var(--cell-size);
}

.hero_content, .footer_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5rem 1rem;
}

.button {
  background-color: rgb(var(--heading-rgb));
  border-radius: 1.5rem;
  color: rgb(var(--background-rgb));
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  margin: auto;
  height: 3rem;
  padding: 1rem;
  width: fit-content; 
  text-decoration: none;
  line-height: 1rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer_container {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #FFFF 100%) 0 0 / 100dvw 100dvh,
    conic-gradient(from 90deg at 1px 1px, #8880 90deg, rgb(238, 238, 238) 0) center -1px / var(--cell-size) var(--cell-size);
}

/* Services grid */

.grid_container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  min-width: 100%;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100%;
  width: 100%;
  max-width: 896px;
}

.grid_heading {
  font-size: 1.5rem;
  margin: 1.25rem 0 1.5rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(var(--background-rgb));
  height: 218px;
  width: 100%;  
  padding: 1.5rem 1rem;
  border: var(--border-width), solid, rgb(var(--border-rgb));
  border-radius: var(--border-radius);
}

/* Responsive */

@media (min-width: 400px) {
  .subheading {
    font-size: 1.25rem;
  }
}

@media (min-width: 485px) {
  .hero_heading, .footer_heading {
    font-size: 52px;
    max-width: 560px;
  } 

  .hero_container, .footer_container {
    max-height: 558px;
  } 
}

/* Tablet and Desktop */ 
@media (min-width: 624px) {  
  .card {
    max-width: 288px;
  }
}

/* Tablet and Desktop */ 
@media (min-width: 701px) {  
  .card {
    max-width: 288px;
  }
}